/*variables*/
/*en maps puedo tener valores mezclados en una variable, en cambio
que en listas solo tengo que tener de medidas o colores, etc*/
/*el extend se usa para tener una variable y usar todo lo que hay dentro de ella
para llamarlo se usa @import %nombre de la variable;*/
.body-inicio .contenedor-onlymarket {
  display: flex;
  align-items: center;
  justify-content: center;
}

.galeria-body .otrasfotos img, .galeria-body .fotos-accesorios img {
  margin: 2%;
  border-radius: 3rem;
  height: 12rem;
  width: 14rem;
}

/* media query */
/* media para menos de 360px */
@media (max-width: 992px) {
  /* contacto */
  .contenedor-contactanos {
    display: flex;
    flex-direction: column;
  }
  /* logo whatsapp  */
  .wpp {
    bottom: 15%;
  }
  .wpp img {
    height: 4rem;
  }
  /* footer o pie de pagina */
  .cajonera {
    display: grid;
    flex-direction: column;
    justify-items: center;
  }
  .cajonera .logo-footer {
    margin-top: 10%;
  }
  .cajonera .copy {
    display: grid;
    justify-items: center;
    order: 1;
    margin-left: 5%;
  }
  /*esto es para el contenido que escribimos dentro del mixin*/
}
@media (max-width: 360px) {
  .titulo-ayuda img {
    display: none;
  }
  .cajon-sobrenosotros {
    padding-top: 8rem;
  }
  .contenedor-mapaytexto {
    padding-top: 8.5rem;
  }
}
/* --------menu general bootstrap-------- */
/*esto para cuando el menu es mas de 992px (solo lo de navbar-brand img,container-fluid ul y la barra del navbar-toggler*/
.navbar-brand img {
  margin-left: 35%;
  width: 12.5rem;
}
@media (max-width: 992px) {
  .navbar-brand img {
    margin-left: 5%;
    width: 11.5rem;
    /*esto es para el contenido que escribimos dentro del mixin*/
  }
}

@media (max-width: 992px) {
  .navbar-toggler {
    width: 4.5rem; /*tamano icono barra menu*/
  }
  /*esto es para el contenido que escribimos dentro del mixin*/
}
.container-fluid ul {
  font-size: 1.5em;
  margin-left: 40%;
}

/* para cambiar el fondo del navbar */
.navbar-expand-lg {
  background: #12131A;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #0000FF;
}

.activo {
  color: #808080;
}

/* uso la clase fija para hacer fijo el menu, al subir y bajar */
.fijo {
  width: 100%;
  position: fixed;
  z-index: 2;
}

/* footer o pie de pagina general */
.cajonera {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #12131A;
  padding: 1%;
  margin-top: auto; /* esto lo pongo para que el footer siempre este abajo del todo*/
}
.cajonera .logo-footer img {
  width: 15rem;
}
.cajonera .copy {
  color: #fff;
}
.cajonera .redes {
  background: #fff;
  border-radius: 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  margin: 1rem 0 1rem;
}
.cajonera .redes img {
  width: 2rem;
  margin: 1rem;
}
.cajonera .redes img:hover {
  background-color: #0000FF;
  border-radius: 0.625rem;
}

/*comienzo inicio*/
.body-inicio {
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  flex-direction: column;
  /* ----- section de preguntas frecuentes ----- */
  /* section de segundafoto */
  /* --------section contenedor de 24/7 only market -------- */
}
.body-inicio img {
  max-width: 100%;
}
.body-inicio .preguntas-frecuentes {
  background-image: url("../imagenes/motocross.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.2rem solid #000000;
  padding-top: 8rem;
}
.body-inicio .preguntas-frecuentes .texto-preguntas {
  padding: 7%;
}
.body-inicio .preguntas-frecuentes .texto-preguntas h1 {
  font-size: 3rem;
  -webkit-text-stroke: 0.1rem #0000FF;
  color: #000000;
}
.body-inicio .preguntas-frecuentes .texto-preguntas b {
  font-size: 2rem;
  color: #000000;
  -webkit-text-stroke: 0.02rem #808080;
}
.body-inicio .preguntas-frecuentes .texto-preguntas p {
  font-size: 1.5rem;
  margin-left: 1.5%;
  color: #fff;
  -webkit-text-stroke: 0.1rem #000000;
}
.body-inicio .preguntas-frecuentes .texto-preguntas .imagenes-pagos {
  display: flex;
  margin-top: 7%;
  flex-wrap: wrap-reverse;
}
.body-inicio .preguntas-frecuentes .texto-preguntas .imagenes-pagos img {
  width: 5rem;
  border-radius: 5rem;
  margin: 0.3rem;
}
.body-inicio .segundafoto {
  background-image: url("../imagenes/motos.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.1%;
  border-bottom: 0.2rem solid #000000;
}
.body-inicio .segundafoto p {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 15% auto;
  font-size: 3rem;
  -webkit-text-stroke: 0.1rem #0000FF;
  color: #000000;
}
.body-inicio .contenedor-onlymarket {
  padding: 5%;
  background-image: url("../imagenes/gafas.png");
  background-size: cover;
}
.body-inicio .contenedor-onlymarket h2 {
  font-size: 3rem;
  -webkit-text-stroke: 0.1rem #0000FF;
  color: #000000;
}
.body-inicio .caja-onlymarket {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body-inicio .texto-onlymarket {
  color: #000000;
  -webkit-text-stroke: 0.02rem #808080;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin: 1%;
}

/*fin inicio*/
/*comienzo galeria*/
.galeria-body {
  background: #000000;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.galeria-body .imagenes-galeria-accesorios {
  margin-top: 6.25rem;
  text-align: center;
}
.galeria-body .imagenes-galeria-accesorios h1 {
  padding-top: 3rem;
  font-size: 2rem;
  -webkit-text-stroke: 0.1rem #0000FF;
  color: #000000;
}
.galeria-body .otrasfotos h2 {
  font-size: 2rem;
  -webkit-text-stroke: 0.1rem #0000FF;
  color: #000000;
}
/*fin galeria*/
/*comienzo sobrenosotros*/
.sobrenosotros-body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../imagenes/muchasmazas.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.sobrenosotros-body .cajon-sobrenosotros {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
}
.sobrenosotros-body .cajon-sobrenosotros h1 {
  margin-top: 5%;
  font-size: 2rem;
  -webkit-text-stroke: 0.1rem #0000FF;
  color: #000000;
  width: 70%;
}
.sobrenosotros-body .cajon-sobrenosotros p {
  color: #000000;
  font-size: 1.5rem;
  background: rgba(248, 248, 248, 0.368627451);
  width: 70%;
}

/*fin sobrenosotros*/
/* comienzo contacto */
.contacto-body {
  background-image: url("../imagenes/motopista.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.contacto-body .contenedor-contactanos {
  display: flex;
  align-items: center;
  padding: 11rem 5rem 4rem 5rem;
  color: #000000;
  /* formulario contacto bootstrap */
  /*contactanos*/
}
.contacto-body .contenedor-contactanos .contenedor-formulario {
  margin-right: 10%;
}
.contacto-body .contenedor-contactanos .contenedor-formulario .email-form, .contacto-body .contenedor-contactanos .contenedor-formulario .texto-form {
  width: 15rem;
}
.contacto-body .contenedor-contactanos .contenedor-formulario .texto-form {
  height: 5rem;
  margin-bottom: 1rem;
}
.contacto-body .contenedor-contactanos .contenedor-formulario .color-boton {
  color: #000000;
}
.contacto-body .contenedor-contactanos .contenedor-formulario .color-boton:hover {
  background: #0000FF;
}
.contacto-body .contenedor-contactanos .titulo-redes-contactanos a {
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
}
.contacto-body .contenedor-contactanos .titulo-redes-contactanos a:hover {
  background: #000000;
  color: #808080;
  border-radius: 5rem;
}

/* fin contacto */
/* comienzo ayuda */
.ayuda-body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../imagenes/motoduna.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.ayuda-body .contenedor-mapaytexto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  /* titulo de aca nos encontramos */
  /*------mapa------*/
  /*texto de ayuda al usuario*/
}
.ayuda-body .contenedor-mapaytexto .titulo-ayuda {
  margin: 5% 0% 0%;
  display: flex;
  align-items: center;
}
.ayuda-body .contenedor-mapaytexto .titulo-ayuda h1 {
  font-size: 2rem;
  -webkit-text-stroke: 0.1rem #0000FF;
  color: #000000;
}
.ayuda-body .contenedor-mapaytexto .mapa {
  margin-bottom: 0.5%;
}
.ayuda-body .contenedor-mapaytexto .mapa iframe {
  border-radius: 5rem;
}
.ayuda-body .contenedor-mapaytexto .texto-ayuda {
  background: rgba(248, 248, 248, 0.368627451);
  margin: 5% 5% 5% 5%;
  color: #000000;
}

/* fin ayuda */
/* logo de whatsapp */
.wpp {
  position: fixed;
  z-index: 1;
  right: 0.5rem;
  bottom: 0rem;
  margin-bottom: 5rem;
}
.wpp:hover {
  background: #12131A;
  border-radius: 3rem;
}

/*# sourceMappingURL=style.css.map */
