@import '../scss/base/listas';
@import '../scss/base/vars';
@import '../scss/base/maps';
@import '../scss/base/extend';
@import '../scss/base/mixin';
@import '../scss/componentes/mediaq';
@import '../scss/componentes/bs';
@import '../scss/componentes/footer';
@import '../scss/componentes/index';
@import '../scss/componentes/galeria';
@import '../scss/componentes/sobrenosotros';
@import '../scss/componentes/contacto';
@import '../scss/componentes/ayuda';

/* logo ir para arriba */
.contenedor-flecha{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    .flecha-arriba{
        display: flex;
        justify-content: center;
        background: nth($colores,2 );
        border-radius: 1rem;
        img{
            max-width: 5rem;
            max-height: 5rem;
        }    
        &:hover{
            background: $color-menu-footer-logowpp-fondo;
            border-radius: 1rem;
        }
    }
}

/* logo de whatsapp */
.wpp{
    position: fixed;
    z-index: 1;
    right: 0.5rem;
    bottom: 3.5rem;
    max-width: 5rem;
    max-height: 5rem;
    &:hover{
        background: $color-menu-footer-logowpp-fondo;
        border-radius: 3rem ;
    }
}