@import '../scss/base/listas';
@import '../scss/base/vars';
@import '../scss/base/maps';
@import '../scss/base/extend';
@import '../scss/base/mixin';
@import '../scss/componentes/mediaq';
@import '../scss/componentes/bs';
@import '../scss/componentes/footer';
@import '../scss/componentes/index';
@import '../scss/componentes/galeria';
@import '../scss/componentes/sobrenosotros';
@import '../scss/componentes/contacto';
@import '../scss/componentes/ayuda';

/* logo de whatsapp */
.wpp{
    position: fixed;
    z-index: 1;
    right: 0.5rem;
    bottom: 0rem;
    margin-bottom: 5rem;
    &:hover{
        background: $color-menu-footer-logowpp-fondo;
        border-radius: 3rem ;
    }
}