/*el extend se usa para tener una variable y usar todo lo que hay dentro de ella
para llamarlo se usa @extend %nombre de la variable;*/

%letra-general{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

%dispositivo-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

%fotos-galeria{
    margin: 2%;
    border-radius: 3rem;
    height: 12rem;
    width: 14rem;
}

%centrador-imagenesdefondo-fijo{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
%centrador-imagenesdefondo-nofijo{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

