/*en maps puedo tener valores mezclados en una variable, en cambio
que en listas solo tengo que tener de medidas o colores, etc*/

$titulos: (
    medida-titulos:3rem,
    medida-titulos-maschica:2rem,
    color-exterior-titulos:#0000FF,
    color-interior-titulos:#000000,
);
