/*variables*/
$color-menu-footer-logowpp-fondo:#12131A;
$color-fondotexto-sobrenosotros:#0000ff6c;
$tamano-texto-subtitulos:2rem;
$color-contactanos-fondo-redes:rgba(128, 128, 128, 0.836);
$margen-arriba-flecha:1rem;
$margen-general-cadapagina-abajodeltodo:5rem;