/* comienzo ayuda */
.ayuda-body{
    @extend %letra-general;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../imagenes/motoduna.avif");
    max-width: 100%;
    max-height: 100%;
    @extend %centrador-imagenesdefondo-fijo;
    .contenedor-mapaytexto{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 4rem;
/* titulo de aca nos encontramos */
        .titulo-ayuda{
            margin: 5% 0% 0%;
            display: flex;
            align-items: center;
            h1{
                font-size: map-get($titulos,medida-titulos-maschica );
                -webkit-text-stroke: 0.10rem map-get($titulos,color-exterior-titulos );
                color:  map-get($titulos,color-interior-titulos );
            }
        }
/*------mapa------*/
        .mapa{
            margin-bottom: 0.5%;
            iframe{
                border-radius: 5rem;
            }
        }
/*texto de ayuda al usuario*/
        .texto-ayuda{
            background: #f8f8f85e;
            margin: 5% 5% 5% 5%;
            color: nth($colores,1 );
        }
    }
}
/* fin ayuda */