/* comienzo contacto */
.contacto-body{
    background-image: url("../imagenes/motopista.avif");
    max-width: 100%;
    max-height: 100%;
    @extend %centrador-imagenesdefondo-fijo;
    @extend %letra-general;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .contenedor-contactanos{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
        margin-bottom: $margen-general-cadapagina-abajodeltodo;
        color: nth($colores,1 );
        /*formulario*/
        .col{
            width: 15rem;
        }
        .mensaje{
            height: 10rem;
        }
        .margen-boton{
            margin-top: 0.5rem;
        }
/*contactanos*/
        .titulo-redes-contactanos{
            margin-left: 2rem;
            h1{
                -webkit-text-stroke: 0.1rem nth($colores,2 );
            }
            a{
                text-decoration: none;
                background: $color-contactanos-fondo-redes;
                min-width: 11rem;
                border-radius: 3rem;
                margin: 0.5rem;
                color: nth($colores,1 );
                display: flex;
                align-items: center;
                &:hover{
                    background: nth($colores,1 );
                    color: nth($colores,3 );
                    border-radius: 3rem;
                    transform: scale(1.2);
                    transition-duration: 0.5s;
                }
            }
        }
    }
}   
/* fin contacto */