/* comienzo contacto */
.contacto-body{
    background-image: url("../imagenes/motopista.avif");
    max-width: 100%;
    max-height: 100%;
    @extend %centrador-imagenesdefondo-fijo;
    @extend %letra-general;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .contenedor-contactanos{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
        color: nth($colores,1 );
/* formulario contacto bootstrap */
        .contenedor-formulario{
            margin-right: 9%;
            .email-form, .texto-form{
                width: 14rem;
            }
            .texto-form{
                margin-bottom: 1rem;
            }
            .altura-texto{
                height: 8rem;
            }
            .color-boton{
                color: nth($colores,1 );
                &:hover{
                    background: nth($colores,2 );
                }
            }
        }
/*contactanos*/
        .titulo-redes-contactanos{
            h1{
                -webkit-text-stroke: 0.1rem nth($colores,2 );
            }
            a{
                text-decoration: none;
                color: nth($colores,1 );
                display: flex;
                align-items: center;
                &:hover{
                    background: nth($colores,1 );
                    color: nth($colores,3 );
                    border-radius: 5rem;
                    transform: scale(1.2);
                    transition-duration: 0.5s;
                }
            }
        }
    }
}   
/* fin contacto */