/*comienzo inicio*/
.body-inicio{
    margin: 0;
    @extend %letra-general;
    display: flex;
    flex-direction: column;
    img{
        max-width: 100%;
    }
/* ----- section de preguntas frecuentes ----- */
    .preguntas-frecuentes{
        background-image: url("../imagenes/motocross.avif");
        @extend %centrador-imagenesdefondo-fijo;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 0.2rem solid nth($colores,1);
        padding-top: 5rem;
        .texto-preguntas{
            padding: 7%;
            h1{
            font-size: map-get($titulos,medida-titulos );
            -webkit-text-stroke: 0.10rem map-get($titulos,color-exterior-titulos );
            color:  map-get($titulos,color-interior-titulos );
            }
            b{
                font-size: 2rem;
                color: nth($colores,1 );
                -webkit-text-stroke: 0.02rem nth($colores,4 );
            }
            p{
                font-size: 1.5rem;
                margin-left: 1.5%;
                color: nth($colores,4 );
                -webkit-text-stroke: 0.1rem nth($colores,1 );
            }
            .imagenes-pagos{
                display: flex;
                margin-top: 7%;
                flex-wrap: wrap-reverse;
                img{
                    width: 5rem;
                    border-radius: 5rem;
                    margin: 0.3rem;
                }
            }
        }
    }
/* section de segundafoto */
    .segundafoto{
        background-image: url("../imagenes/motos.avif");
        @extend %centrador-imagenesdefondo-nofijo;
        padding: 0.1%;
        border-bottom: 0.2rem solid nth($colores,1);
        p{
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 15% auto;
        font-size: map-get($titulos,medida-titulos );
        -webkit-text-stroke: 0.10rem map-get($titulos,color-exterior-titulos );
        color:  map-get($titulos,color-interior-titulos );
        }
    }
/* --------section contenedor de 24/7 only market -------- */
    .contenedor-onlymarket{
        @extend %dispositivo-flex;
        padding: 5%;
        background-image: url("../imagenes/gafas.avif");
        @extend %centrador-imagenesdefondo-fijo;
        h2{
            font-size: map-get($titulos,medida-titulos );
            -webkit-text-stroke: 0.10rem map-get($titulos,color-exterior-titulos );
            color:  map-get($titulos,color-interior-titulos );
        }
    }
    .caja-onlymarket{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .texto-onlymarket{
        color: nth($colores,1 );
        -webkit-text-stroke: 0.02rem nth($colores,3 );
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        margin: 1%;
    }
}
/*fin inicio*/