/*comienzo inicio*/
.body-inicio{
    margin: 0;
    @extend %letra-general;
    display: flex;
    flex-direction: column;
    img{
        max-width: 100%;
    }
/* ----- section de preguntas frecuentes ----- */
    .preguntas-frecuentes{
        background-image: url("../imagenes/motocross.avif");
        max-width: 100%;
        max-height: 100%;
        @extend %centrador-imagenesdefondo-fijo;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 0.2rem solid nth($colores,1);
        padding-top: 5rem;
        .texto-preguntas{
            padding: 7%;
            h1{
            font-size: map-get($titulos,medida-titulos );
            -webkit-text-stroke: 0.1rem map-get($titulos,color-exterior-titulos );
            color:  map-get($titulos,color-interior-titulos );
            }
            b{
                font-size: $tamano-texto-subtitulos;
                color: nth($colores,4 );
                -webkit-text-stroke: 0.04rem nth($colores,1 );
                background: rgba(0, 0, 0, 0.568);
                border-radius: 0.5rem;
            }
            p{
                font-size: 1.5rem;
                margin-left: 1.5%;
                color: nth($colores,4 );
                -webkit-text-stroke: 0.1rem nth($colores,1 );
            }
            .imagenes-pagos{
                display: flex;
                margin-top: 7%;
                flex-wrap: wrap-reverse;
                img{
                    max-width: 5rem;
                    max-height: 3rem;
                    border-radius: 5rem;
                    margin: 0.3rem;
                }
            }
        }
    }
/* section de segundafoto */
    .segundafoto{
        background-image: url("../imagenes/motos.avif");
        max-width: 100%;
        max-height: 100%;
        @extend %centrador-imagenesdefondo-nofijo;
        padding: 0.1%;
        border-bottom: 0.2rem solid nth($colores,1);
        p{
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 15% auto;
        font-size: map-get($titulos,medida-titulos );
        -webkit-text-stroke: 0.1rem map-get($titulos,color-exterior-titulos );
        color:  map-get($titulos,color-interior-titulos );
        }
    }
/* --------section contenedor de 24/7 only market -------- */
    .contenedor-onlymarket{
        @extend %dispositivo-flex;
        padding: 5%;
        background-image: url("../imagenes/gafas.avif");
        max-width: 100%;
        max-height: 100%;
        @extend %centrador-imagenesdefondo-fijo;
        .caja-onlymarket{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                font-size: map-get($titulos,medida-titulos );
                -webkit-text-stroke: 0.1rem map-get($titulos,color-exterior-titulos );
                color:  map-get($titulos,color-interior-titulos );
            }
            img{
                max-width: 5rem;
                max-height: 5rem;
            }
            .texto-onlymarket{
                color: nth($colores,1 );
                -webkit-text-stroke: 0.02rem nth($colores,4 );
                display: flex;
                flex-direction: column;
                font-size: $tamano-texto-subtitulos;
                margin: 1%;
            }
        }
    }
}
/*fin inicio*/